<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资产管理</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/common.css">

    <link rel="stylesheet" href="/layui/extend/dtree.css">
    <link rel="stylesheet" href="/layui/extend/font/dtreefont.css">

    <!-- 图标 -->
    <link rel="stylesheet" href="../../static/CaoMei/style.css">

</head>

<body>

<div class="yadmin-body animated fadeIn">
    <form class="layui-form yadmin-search-area input">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="asset_id" class="layui-form-label">设备ID</label>
                <div class="layui-input-inline">
                    <input type="text" name="asset_id" autocomplete="off"
                           id="asset_id" class="layui-input">
                </div>

                <button lay-submit="" lay-filter="search"
                        class="layui-btn search_btn layui-btn-sm layui-btn-primary table-action"
                        data-type="reload">
                    <i class="layui-icon layui-icon-search">搜索</i>
                </button>
            </div>
        </div>
    </form>

    <table class="layui-hide" id="asset-table"></table>
</div>

<script type="text/html" id="toolbar">

    <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">
        <i class="layui-icon layui-icon-addition"></i>
        新增
    </button>

</script>

<script type="text/html" id="column-toolbar">

    <button type="button" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
        <i class="layui-icon layui-icon-edit" title="编辑"></i>
        编辑
    </button>

    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon layui-icon-delete" title="删除"></i>
        删除
    </button>


</script>

<!--<script type="text/html" id="statusTpl">-->
<!--    <input type="checkbox" name="status" value="{{d.userId}}" lay-skin="switch" lay-text="正常|锁定" lay-filter="status" {{ d.status == '1' ? 'checked' : '' }}>-->
<!--</script>-->

<script src="/js/jquery.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/common.js"></script>

<script src="/js/asset/asset.js"></script>
</body>
</html>