<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>组会统计</title>
	<!-- 引入 echarts.js -->
	<script src="echarts.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 100%;height:400px;"></div>
<script type="text/javascript">
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('main'));

	// 指定图表的配置项和数据
	var option = {
		title: {
			text: '组会统计'
		},
		tooltip: {},
		legend: {
			data:['会议发起次数']
		},
		xAxis: {
			data: ["zqzq","zzy","lyl","yt","ty","daa"]
		},

		yAxis: {},
		series: [{
			name: '销量',
			type: 'bar',
			data: [5, 2, 6, 10, 3, 7]
		}]
	};

	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
</script>
</body>
</html>
